<p id="notice"><%= notice %></p>

<h1><%= Product.model_name.human %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= Product.human_attribute_name :name %></th>
        <th><%= Product.human_attribute_name :price %></th>
        <th><%= Product.human_attribute_name :stock %></th>
        <th><%= Product.human_attribute_name :note %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td><%= product.note %></td>
          <td><%= link_to '表示', product, class: 'btn btn-default' %></td>
          <td><%= link_to '編集', edit_product_path(product), class: 'btn btn-default' %></td>
          <td><%= link_to '削除', product, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-default' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to '追加', new_product_path, class: 'btn btn-primary' %>
